:root {
  --md-primary-fg-color: #07111f;
  --md-accent-fg-color: #39d98a;
}

[data-md-color-scheme="slate"] {
  --md-default-bg-color: #07111f;
  --md-default-fg-color: #e9f2ff;
  --md-code-bg-color: #0d1c2f;
  --md-typeset-a-color: #50e3a4;
}

.md-header,
.md-tabs { background: #07111f; }
.md-typeset h1,
.md-typeset h2 { font-weight: 700; letter-spacing: -0.02em; }
.md-typeset table:not([class]) th { background: #10243b; }
.md-typeset .admonition,
.md-typeset details { border-radius: .65rem; }
